body {
}
.container {
    width:900px;
    border:3px solid blue;
    margin:auto;
}
.items {
    border: 3px solid #666;
    margin: 12px 6px;
    padding: 12px 6px;
    background-color: #EFC0DE;
}
#fruits {
    width:46%;
    float:left;
}
#computers {
    width:46%;
    float:right;
}
#stationary {
    width:97%;
    clear:both;
}
#tieude{
    font-size: 18px;
    font-weight: bold
}